#register {
	padding: 4px;
	background-image: url(/images/icons/people-formal.svg);
	background-size: cover;
	padding-bottom: 900px;
}
#registerContent {
	display: block;
}
.forgotBtn {
	margin-top: 0px;
	padding: 15px 0;
}
.forgotBtn a {
	color: #c1c1c1;
	font-size: .85rem;
}